.search-container {
  max-width: 600px;
  margin: 0 auto;
}

.search-input {
  border-radius: 0 4px 4px 0;
  border: 1px solid #363B48;
  transition: all 0.3s ease;
  background-color: #ffffff;
  color: #363B48;
}

.search-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(54, 59, 72, 0.25);
  border-color: #363B48;
  outline: none;
}

.input-group-text {
  border-radius: 4px 0 0 4px;
  border: none;
  background-color: #363B48;
  color: white;
  border: 1px solid #363B48;
}

.search-container .input-group:hover .input-group-text {
  background-color: #2a2e38;
}

.search-container .input-group:hover .search-input {
  border-color: #2a2e38;
}
